{% if config.header_links.display %}
<div class="md-tabs__inner md-grid">
    <ul class="md-tabs__list">
        <li class="md-tabs__item">
            <a href="{{ config.header_links.signup.url }}" title="{{ config.header_links.signup.title }}"
                class="md-tabs__link" aria-label="{{ config.header_links.signup.title }}" target="_blank"
                rel="noopener noreferrer">
                {{ config.header_links.signup.title }}
            </a>
        </li>
        <li class="md-tabs__item">
            <a href="{{ config.header_links.pricing.url }}" title="{{ config.header_links.pricing.title }}"
                class="md-tabs__link" aria-label="{{ config.header_links.pricing.title }}" target="_blank"
                rel="noopener noreferrer">
                {{ config.header_links.pricing.title }}
            </a>
        </li>
        <li class="md-tabs__item">
            <a href="{{ config.header_links.contact.url }}" title="{{ config.header_links.contact.title }}"
                class="md-tabs__link" aria-label="{{ config.header_links.contact.title }}" target="_blank"
                rel="noopener noreferrer sm">
                {{ config.header_links.contact.title }}
            </a>
        </li>
    </ul>
</div>
{% endif %}